@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  :root {
    --background: 45 67% 95%;
    --foreground: 216 33% 35%;

    --card: 0 0% 100%;
    --card-foreground: 216 33% 35%;

    --popover: 0 0% 100%;
    --popover-foreground: 216 33% 35%;

    --primary: 38 80% 59%;
    --primary-foreground: 216 33% 35%;

    --secondary: 24 92% 59%;
    --secondary-foreground: 0 0% 100%;

    --accent: 178 48% 53%;
    --accent-foreground: 216 33% 35%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --muted: 216 33% 95%;
    --muted-foreground: 216 33% 55%;

    --border: 216 33% 90%;
    --input: 216 33% 90%;
    --ring: 38 80% 59%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 216 33% 35%;
    --foreground: 0 0% 98%;

    --card: 216 33% 35%;
    --card-foreground: 0 0% 98%;

    --popover: 216 33% 35%;
    --popover-foreground: 0 0% 98%;

    --primary: 38 80% 59%;
    --primary-foreground: 216 33% 35%;

    --secondary: 24 92% 59%;
    --secondary-foreground: 0 0% 100%;

    --accent: 178 48% 53%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --muted: 216 33% 25%;
    --muted-foreground: 216 33% 75%;

    --border: 216 33% 45%;
    --input: 216 33% 45%;
    --ring: 38 80% 59%;
  }
}
